﻿body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-image: url("../resources/background1-loginP.jpg");
    background-size: cover;
    color: white;
}


.login-box {
    width: 320px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

    .login-box h1 {
        color: white;
        font-size: 50px;
        border-bottom: 6px solid #199EFB;
        margin-bottom: 50px;
        padding: 13px 0;
    }

.text-box {
    width: 100%;
    overflow: hidden;
    font-size: 20px;
    padding: 8px 0;
    margin: 8px 0;
    /*border-bottom: 1px solid #199EFB;*/
}

.textbox i {
    width: 26px;
    float: left;
    text-align: center;
}

input {
    border: 0;
    background: transparent;
    color: white;
    font-size: 24px;
    width: 190px;
    margin: 10px;
}

.btn {
    width: 100%;
    background: none;
    border: 2px solid #199EFB;
    color: white;
    padding: 5px;
    font-size: 18px;
    cursor: pointer;
    margin: 12px 0;
    transition-duration: 0.4s;
}

    .btn:hover {
        background-color: #176DFC;
        color: white;
    }

a {
    color: white;
    font-size: 20px;
    text-decoration: none;
}
